<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
   <title>{% block title %}{% endblock %}</title>
   <style>
      html, body{
         height: 100%;
         background-color: #FFFFCC
      }
   </style>
</head>
<body>
   <div class="container-fluid" style="min-height:95%">
      <div class="row" >
         <div class="col-sm-2">
            <center>
               <img src="{% static 'image/muteki.png' %}" class="responsive-img" style="max-height:150px"/>
            </center>
         </div>
         <div class="col-sm-10">
            <center><h1>Blog làm từ python django</h1></center>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-sm-2">
            <div class="bs-sliderbar" style="background-color: #fff">
               <ul class="nav flex-column">
                  <li><a href="/">Thông tin cá nhân</a></li>
                  <li><a href="/blog">Bài viết</a></li>
                  <li><a href="/contact">Liên hệ</a></li>
               </ul>
            </div>
         </div>
         <div class="col-sm-10">
            <div class="container-fluid">
               {% block content %}
               {% endblock %}
            </div>
         </div>
      </div>
   </div>
   <footer>
      <div class="container-fluid">
         <a href="#">Facebook</a>
         <a href="#">Gmail</a>
         <a href="#">Hangout Momo</a>
      </div>
   </footer>
</body>
</html>
