{% extends "pages/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<p>Họ và tên: Khang vé số</p>
<p>Sinh năm: chưa rõ</p>
<p>Quê quán: ngoài vũ trụ</p>
{% endblock %}

